extends layout

block content
  h1= title
  - var earphones = results;
  - let destination1 = `dispatch(\"/earphones/create\")`
  button.btn( class="btn btn-success", onclick= destination1) Create
  div(class="container_fluid")
    each item, index in earphones
     - let destination2 = `dispatch(\"/earphones/update?id=${item._id}\")`
     - let destination3 = `dispatch(\"/earphones/delete?id=${item._id}\")`
     - let destination4 = `dispatch(\"/earphones/detail?id=${item._id}\")`
        div(class="row" onclick = `buy(${index})`)       
            div(class="col-sm-2") #{item.earphones_color}
            div(class="col-sm-2") #{item.earphones_length}
            div(class="col-sm-2") #{item.earphones_cost}
            div(class="col-sm-2") #{item.earphones_sound}
        button.btn( class="btn btn-dark", onclick= destination2) Update
        button.btn( class="btn btn-secondary", onclick= destination4) Details
        button.btn( class="btn btn-warning", onclick= destination3) Delete

  script.
   function dispatch(path){
    window.location.href=path
   }
  script.
      function buy(indxnum){
        alert('You purchased item'+ indxnum)
      }